body {
  color: #082b48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #082b48;
}
a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
  height: auto;
}

.section {
  margin-bottom: 100px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 400px) {
  .section-title {
    font-size: 24px;
  }
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

/* top-page-scroll---------------------------- */
.top-page-scroll {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 20px;
  bottom: 65px;
  border-radius: 50%;
  background-color: red;
  display: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.scroll-icon {
  color: white;
  font-size: xx-large;
}

/* header---------------------------- */
.header-left {
  float: left;
  line-height: 60px;
}
@media screen and (max-width: 400px) {
  .header-left {
    width: 100%;
    text-align: center;
  }
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

.header-right {
  float: right;
  line-height: 60px;
}
@media screen and (max-width: 400px) {
  .header-right {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .header-nav-list {
    display: flex;
    justify-content: space-between;
  }
}

.nav-item {
  float: left;
  margin-right: 24px;
}
@media screen and (max-width: 400px) {
  .nav-item {
    margin-right: 0;
  }
}

.nav-item a {
  font-weight: bold;
}

.drawer-menu {
  position: fixed;
  display: none;
}

.drawer-menu-item {
  background-color: #fff;
  font-weight: bold;
  padding: 5px;
  border: solid 1px black;
  border-radius: 20px;
}

/* top---------------------------- */
.top {
  margin-bottom: 40px;
}

.top img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* about---------------------------- */
.about-left {
  float: left;
  width: 48%;
}
@media screen and (max-width: 400px) {
  .about-left {
    width: 100%;
  }
}

.about-right {
  float: right;
  width: 48%;
}
@media screen and (max-width: 400px) {
  .about-right {
    width: 100%;
  }
}

/* course---------------------------- */
.course-items {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 400px) {
  .course-items {
    flex-direction: column;
  }
}

.course-item {
  width: 30%;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
}
@media screen and (max-width: 400px) {
  .course-item {
    width: 90%;
    margin: auto;
    font-size: 12px;
    margin-bottom: 20px;
  }
}

.course-item-img {
  width: 100%;
  opacity: 0.6;
  transition: 1.5s;
}

.course-item-img:hover {
  opacity: 1;
}

.course-item-img.zoom {
  width: 120%;
  transition: 1.5s;
}

.modal-dialog {
  position: fixed;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  display: block;
  z-index: 1;
  display: none;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .modal-dialog {
    top: 30%;
  }
}

/* contact---------------------------- */
.contact-message {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form {
  text-align: center;
}

input[type=email] {
  width: 600px;
  padding: 10px 10px;
  border: 3px solid #d8d8d8;
  border-radius: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 400px) {
  input[type=email] {
    width: 300px;
  }
}

.btn {
  color: #ffffff;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 20px 40px;
  display: block;
  margin: auto;
}

.btn-submit {
  background-color: #ec6D64;
}

/* footer---------------------------- */
footer {
  background-color: #082b48;
  color: #fff;
  padding: 20px;
}

.copyright {
  float: right;
  font-size: 12px;
}
@media screen and (max-width: 400px) {
  .copyright {
    font-size: 10px;
  }
}