@use "../sass/common/setting";
@use "../sass/common/mixin";

body {
    color: setting.$base-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

.container {
    width: 90%;
    max-width: 980px;
    margin: auto;
}

a {
    text-decoration: none;
    color: setting.$base-color;
    
    &:hover {
        opacity: 0.7;
    }
}

img {
    width: 100%;
    height: auto;
}

.section {
    margin-bottom: 100px;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;

    @include mixin.sp() {
        font-size: 24px;
      }
}

.clear::after {
    content: "";
    clear: both;
    display: block;
}

/* top-page-scroll---------------------------- */
.top-page-scroll {
    height: 50px;
    width: 50px;
    position:fixed;
    right: 20px;
    bottom: 65px;
    border-radius: 50%;
    background-color: red;
    display: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.scroll-icon {
    color: white;
    font-size: xx-large;
}